<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--数据库连接字符串-->
    <add key="con" value="Provider=Microsoft.Jet.OLEDB.4.0;Data source=|DataDirectory|zwzx.mdb" />
    <add key="ConnectionString" value="server=192.168.10.144;database=FanYaGrab;uid=fysa;pwd=123456" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <pages validateRequest="false" />
    <!--因为检测request加上。-->
    <httpRuntime requestValidationMode="2.0" />
    <!--因为检测request加上。-->
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
    </system.webServer>
</configuration>